<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>
    <%- include('header'); %>
    <main>
    <!-- <h1><%= title %></h1> -->


    <% if (typeof user !== 'undefined') {%>
        <p>You're already logged in, <%= (typeof user !== 'undefined') ? user.username : ''%>!</p>
        <p>No need to sign up, my friend.</p>
    <% } else { %>
      <% if (typeof message !== 'undefined') { %>
        <h1><span class='still-hand'>&#x1f91e;</span></h1>
        <p>Uh oh!</p>
        <p>Something went wrong, let's hope it works this time.</p>
        <p><%=message%></p>
      <% } else { %>
        <h1><span class='waving-hand'>&#x270B;</span></h1>
        <p>Hello! And welcome aboard. </p>
        <p>We're so glad to have you. </p>
        <p>You'll be sharing your feelings with every <u class="fancy-underline random-border">which</u>, <u class="fancy-underline random-border">way</u>, and <u class="fancy-underline random-border">who</u> in no time at all.</p>
      <% } %>

      <form action="/sign-up" method="POST" class="sign-up-form random-border" >

        <label for="username">Just type in what name you'd like to go by:</label>
        <input name="username" type="text" value="<%=(typeof user !== 'undefined') ? user.username : ''%>" class="random-border" required="true"/><br>
        <label for="password">And a memorable access password:</label>
        <input name="password" type="password" class="random-border" required="true"/><br>
        <input name="joined" type="date" class="hidden-field" value="<%let date = new Date();%><%=date.getFullYear() + '-' + (date.getMonth().toString().length==1?'0'+(date.getMonth()+1):date.getMonth()+1) + '-' + (date.getDate().toString().length==1?'0'+date.getDate():date.getDate()+1);%>"/>
        <button class="random-border">Sign Up</button>
      </form>
    <% } %>


    <% if (typeof errors !== 'undefined') { %><p><%=errors.msg%></p> <% } %>


    </main>
    <!-- <script src="/javascripts/feelings-word-move.js"></script> -->
    <script src="/javascripts/bg-flowers.js"></script>
  </body>
</html>
