<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>
    <%- include('header'); %>
    <main>
    <!-- <h1><%= title %></h1> -->
    <h1><%= 'Sign Up' %></h1>
    <p>Welcome aboard. </p>
    <p>We're so glad to have you. </p>
    <p>You'll be sharing your feelings with every which, way, and who in no time at all.</p>

    <form action="" method="POST">
    <label for="username">Just type in what name you'd like to go by:</label>
    <input name="username" type="text" />
    <label for="password">And a memorable access password:</label>
    <input name="password" type="password" />
    <button>Sign Up</button>
  </form>

    </main>
    <!-- <script src="/javascripts/feelings-word-move.js"></script> -->
    <script src="/javascripts/bg-flowers.js"></script>
  </body>
</html>
