<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>
    <%- include('header'); %>
    <main>
    <h1><%= title %></h1>

    <span class='avatar'></span>



    <% if (other_user.joined) { %>
    <p>Joined on <%=other_user.joined.toLocaleDateString()%>.</p>
    <% } %>

    <!-- <%= other_user %> -->

    <!-- <br>You:<%= user._id %> -->

    <% if (user.friends.includes(other_user._id)) { %>
      <p>&#x1F44D; Lovely, this user is in your contacts list.</p>
      <!-- <p>But you haven't shared any feelings with them, why not open up?</p> -->
      <p>How about sharing some feelings with them?</p>
    <% } else { %>

      <p>This user is not in your contact list!</p>
      <!-- <p><a class='button random-border'>Add them?</a></p> -->
      <form action="/add" method="POST" class="add-form random-border" >
        <input name="id" type="text" class="hidden-field" value="<%=other_user._id%>"/>
        <input hidden name="username" type="text" value="<%=other_user.username%>"/>
        <button class="random-border">Add them?</button>
      </form>
      <p>But you can still share your feelings with them, why not open up?</p>
    <% } %>


    <form action="/message" method="POST" class="message-form random-border" >
      <textarea name="message" type="textarea" class="message-box" placeholder="..." required="true"/></textarea>
      <input name="id" type="text" class="hidden-field" value="<%=other_user._id%>"/>
      <input hidden id="msg-color" class="msg-color" name="color" type="text" class="hidden-field" value="springgreen"/>
      <input hidden name="receipient" value="<%=other_user.username%>"/>
      <label>How are you feeling?</label> <span class="button emotion-button">Hopeful</span>
      <button class="send-button">Send</button>
    </form>

    <br>

    <% messages.forEach(message => { %>
      <!-- <%=message.user.id%> -->
      <div class="message-cont <%=message.user.id==user._id ? 'right-align' : ''%>">
        <span class="message" style="border-color: <%=message.color%>">
          <div class="message-text"><%=message.message%></div>
          <div class="message-author"><strong><%=message.user.username%></strong></div>
          <div class="message-time"><%=message.date.toLocaleDateString()%></div>
        </span>
      </div>
    <% }); %>


    <br><br><hr><br>
    </main>
    <script src="/javascripts/bg-flowers.js"></script>
    <script src="/javascripts/emotion-button.js"></script>
    <script>
    //fix html enitities
    document.querySelectorAll('.message-text').forEach(message => {
      let str = message.innerHTML;
      message.innerHTML = str.replace(/&amp;/g, "&");
    });
    </script>
  </body>
</html>
