<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>

    <%- include('header'); %>
    <main>

    <span class='avatar-container'>
      <% if (user.picture) { %>
        <span class='avatar' style="background-image: url('/uploads/<%=user.picture%>')">
        </span>
      <% } else { %>
        <span class='avatar avatar-empty'></span>
        <span id='add-photo-button' class='add-link button add-photo-button'>Add Photo</span>
        <form class='add-photo-form' action="/add_photo" method="post" enctype="multipart/form-data">
          <button class="random-border">Upload</button>
          <input type="file" name="avatar" />
        </form>
      <% } %>
    </span>

    <h1><span class='bouncing-hand'>&#x1f44d;</span></h1>
    <p>Hello, <strong style='font-size: 2em;'><%=user.username%></strong></p>
    <p>That's you logged in, my friend!</p>



    <% if (user.joined) { %>
    <p>Joined on <%=user.joined.toLocaleDateString()%>.</p>
    <% } %>

    <% if (user.email) { %>
      <p>e-mail: <%=user.email%></p>
    <% } else { %>
      <p class="add-email"><span class='button add-email-button'>Add your email?</span>
        <form action="/add_email" method="POST" class="email-form random-border" style="display:none">
          <input hidden name="id" type="text" value="<%=user._id%>"/>
          <input name="email" type="text" class='random-border'/>
          <button class="random-border">Add</button>
        </form>


      </p>


      <p>(Only so we can let you know if you have a message. No funny business, that's a promise.)</p>
    <% } %>
    <% if (!user.picture) { %>
      <p>Or add a profile pic? <span class='pointing-hand'>&#9757;</span></p>
    <% } %>

    <% if (user.friends.length > 0) { %>
    <p style="border-bottom: 2px solid coral; display: inline-block;" class="random-border">Your contact book:</p><br>
    <span class="contact-book gen-border random-border" >
      <% friends.forEach(friend => { %>
        <a href="user/<%=friend.username%>"><div class="contact-ring"></div><div class="contact random-border"><span class="contact-avatar"></span><span class="contact-name"><strong><%=friend.username%></strong></span></div></a>
      <% }); %>
    </span>
    <!-- <p>Send a feeling out into the world:</p> -->
    <% } else { %>
    <p>You don't have any friends yet!</p>
    <p>Why not open up to this random crumb?</p>
    <p><a href='user/crumb' class='button random-border'>crumb</a></p>
    <!-- <p>Or send some feelings out into the world:</p> -->
    <% } %>


    <br><br><hr><br>
    </main>
    <script src="/javascripts/bg-flowers.js"></script>
    <script src="/javascripts/profile-script.js"></script>
  </body>
</html>
