<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>

    <%- include('header'); %>
    <main>
    <!-- <h1><%= title %></h1> -->
    <h1><span class='bouncing-hand'>&#x1f44d;</span></h1>
    <p>That's you logged in, my friend!</p>

    <span class='avatar'></span>

    <% if (user.joined) { %>
    <p>Joined on <%=user.joined.toLocaleDateString()%>.</p>
    <% } %>

    <p>Add your email? (So we can let you know if you have a message. No funny business, that's a promise.)</p>
    <p>Or add a profile pic? &#9758;</p>

    <% if (user.friends.length > 0) { %>
    <p>Your contact book: </p>
    <span class="contact-book gen-border random-border" >
      <% friends.forEach(friend => { %>
        <a href="user/<%=friend.username%>"><div class="contact-ring"></div><div class="contact random-border"><span class="contact-avatar"></span><span class="contact-name"><strong><%=friend.username%></strong></span></div></a>
      <% }); %>
    </span>
    <!-- <p>Send a feeling out into the world:</p> -->
    <% } else { %>
    <p>You don't have any friends yet!</p>
    <p>Why not open up to this random crumb?</p>
    <p><a href='user/crumb' class='button random-border'>crumb</a></p>
    <!-- <p>Or send some feelings out into the world:</p> -->
    <% } %>


    <br><br><hr><br>
    </main>
    <script src="/javascripts/bg-flowers.js"></script>
    <script>
      let loggedIn = document.querySelector('.logged-in');
      loggedIn.setAttribute('href', '/log-out');
      loggedIn.innerHTML = 'Log Out';
    </script>
  </body>
</html>
